/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/05/2018, 19:10:09
    Author     : magno
*/
.blink { 
    text-decoration: blink; 
}

.fixedHeightImg > img {
    max-height: 350px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
 }
 
 #btnlogotipo {
    padding: 10px;
 }
 
 #btnbuscar {
    /*border: solid black 1px;*/
    
}

#formbuscarprod{
    /*border: solid black 1px;*/
}

#menuprincipal{
    /*min-width: 500px;*/
}

#figura{
    max-width: 150px;
    max-height: 250px;
    display: inline-block;
    
}

.card-body{
    max-width: 500px;
    max-height: 200px;
    display: inline-block;
}

#teste{
    position:relative
}
#teste:hover{
    top:-2px;
    box-shadow:0 2px 2px #666
}